<div class="content">
    
    <form  [formGroup]="emailValue"  id="forgot-form" action="javascript:;" method="post">
            <div class="media-img">
                    <img src="./assets/img/logoSunuCity.PNG" />
            </div> 
        <h3 class="m-t-10 m-b-10">Récuperation de mot de passe</h3>
        <p class="m-b-20">Entre ton email et les instructions pour récuperer ton mot mot de passe seront envoyées sur cette adresse</p>
        <div class="form-group">
            <input class="form-control" type="email" formControlName="email" name="email" placeholder="Email" autocomplete="off">
        </div>
        <div class="form-group">
            <button (click)=" resetPassword()" class="btn btn-info btn-block" type="submit">Submit</button>
        </div>
    </form>
</div>
