<br><br><br><br>
<div class="col-md-8">
  <div class="ibox">
      <div class="ibox-head">
          <div class="ibox-title">Remplisez les champs du  formulaire ci-desssous pour passer une information </div>
          <div class="ibox-tools">
              <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
              <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
          </div>
      </div>
      <div class="ibox-body">
          <form class="form-horizontal">
              <div class="form-group row">
                  <label class="col-sm-2 col-form-label"><b>Titre</b> </label>
                  <div class="col-sm-7">
                      <input [(ngModel)]="information.titre" class="form-control" type="text" placeholder="Titre">
                  </div>
              </div><br><BR>
              <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><b>Descriptif de l'information</b> </label>

                    <div class="ibox-body">
                            <div [(ngModel)]="information.description" id="summernote" data-plugin="summernote" data-air-mode="true">
                           </div>
                    </div>
                </div>    
              <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><b>Date</b></label>
                    <div class="col-sm-7">

                        <div class="form-group" id="date_1">
                            <label class="font-normal"></label>
                            <div class="input-group date">
                                <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                <input [(ngModel)]="information.date" class="form-control" type="text" value="04/12/2017">
                            </div>
                        </div>
                    </div>   
              </div>
             
             
              <div class="form-group row">
                  <div class="col-sm-10 ml-sm-auto">
                      <button  (click)="createInformations()"  class="btn btn-info" type="submit">Envoyer</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>