<div class="page-heading">
    
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Alertes</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="card" style="width:280px;">
                        <img class="card-img-top" src="./assets/img/blog/storm.jpg" />
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <div class="text-muted card-subtitle">subtitle</div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button class="btn btn-warning btn-circle"><i class="fa fa-eye"></i></button>
                            <button class="btn btn-danger btn-circle"><i class="fa fa-times"></i></button>
                            <button class="btn btn-success btn-circle"><i class="fa fa-check"></i></button>                        </div>
                    </div><br>
                    <div class="card" style="width:280px;">
                        <img class="card-img-top" src="./assets/img/blog/macarons.jpg" />
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="link-blue"><i class="fa fa-comments"></i> Comments</a>
                        </div>
                    </div><br>
                   
                    
                    <div class="card" style="width:280px;">
                       
                    </div><br></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Cards</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                                
                </div>
            </div>
        </div>
    </div>
   
</div>
